
/* .page{ width: 1903px;margin:0 auto;}

.head{ margin:0 auto;}

.topnav{ width:80%; margin:0 auto;}

.topnav .topnav_info1{float: left;margin-left: 200px;}

.topnav .topnav_info2{float:right;margin-right: 200px;}

.topnav .topnav_icon{float:right;margin-right: -35px;}

.topnav .topnav_info2 ul{display: inline;}

.topnav .topnav_info2 ul li{padding-right: 20px;}

.topnav a{color:black;}

.bav-wrap{clear: both;position: relative;width: 100%;margin:0 auto;background: url("../images/6.png") repeat-x;overflow: hidden;}

.bav-wrap .bav_logo{float: left;margin-left: 367px;}

.bav-wrap .bav_right{float:right;width:1000px;margin-right: 212px;}

.bav_right ul{list-style: none;float: left;font-size:16px;font-weight: bold;margin-top:25px;margin-left: -173px;}

.bav_right ul li a{color:#fff;}

.bav_right .right_pic{float:right;margin-right:200px;}

.bav_right ul li{ padding:0 30px;} */

/* .content{ clear: both;margin:0 auto;height: 900px;}

.content .content-menu{float: left;margin-left:371px;margin-top:20px;border: 1px solid #ebebeb;width: 190px;box-shadow:  6px 6px 13px #ccc;}

.content .content-menu>div{text-align: center;padding:0 20px;border-bottom: 1px solid #ccc;background-color: #ebebeb;}

.content .content-menu ul{ margin-left: -23px;}

.content-menu ul li a{padding-right: 10px;color:#6b6b6b;}

.content-menu ul li img{display: block;}

.content-menu ul li div{margin-top:5px;margin-bottom: 20px;margin-right: 37px;border-bottom: 1px solid #ccc;} */

.page .content{
	height: 1200px;
}
.content .content-page{
	float: right;
	position: relative;
	margin-right: 346px;
	margin-top: 20px;
	width: 980px;
	height:1100px;
}
.page_btn{
	margin-top:8px;
	margin-bottom: 4px;
	padding-left: 2px;
	border-bottom: 1px solid #ebebeb;
}
.page_btn .cs1{
	border:none;
	border-top:2px solid #5092cf;
	background-color: #fff;
	display: inline;
	padding: 10px 15px;
	margin: 0 -2px;
	color: #538fcd;
}
.page_btn div{
	border: none;
	background-color: #f5f5f5;
	display: inline;
	padding: 10px 15px;
	margin: 0 -2px;
	color: #847f7f;
}

.content-page .pagehead{
	position: relative;
	background-color:#ecf6ff;
	width:980px;
	height:122px;
	overflow: hidden;
	color: #797474;
}
.pagehead img{
	position: absolute;
	left: 0px;
	top:0px;
}
.pagehead span{
	display: block;
	margin-top: 10px;
	font-weight: bold;
	margin-left: 43px;
}
.pagehead p{
	margin:-4px 0px;
	text-indent: 40px;
}
.content-page .page_serve{
	border: solid 1px #ebebeb;
	border-bottom: none;
	margin-top:5px;
}
.page_serve button{
	border: none;
	border-left: 1px solid #ebebeb;
	background-color: #fff;
	padding: 10px;
	margin:5px;
}
 .page .btnselected{
	background-color: #538fcd;
	color: #fff;
}

.page_serve table tr td img{
	float: left;
	margin-left: 48px;
	border-radius: 100% 100%;
}
.page_serve table tr td div{
	float: right;
	text-align: left;
	width: 100px;
	margin-top: 10px;
}
.page_serve table tr td a{
	text-decoration: none;
	color:#538fcd;
	display: block;
}
.item2 .page_serve table tr td span{
	color: #fd5517;
}
.item2 .page_serve table  button{
	border: 1px solid #ebebeb;
}
.content-page .paging_butt{
	 margin-top: 20px;
	float: right;
}
.content-page .paging_butt button{
	border: 1px solid #ebebeb;
	padding: 5px 10px;	
	background-color: #fff;
}
.content-page .commend{
	position: absolute;
	bottom: 30px;
	margin:0 auto;
	border: 1px solid #ebebeb;
	height: 200px;
}
.commend-head{
	margin-top:20px;
	height: 30px;
}
.commend .commend-head-a1{
	float: left;
	margin-left: 10px;
	padding-left: 10px;
	line-height: 15px;
	border-left: 2px solid #528fcc;
}
.commend .commend-head-a2{
	float: right;
	margin-right: 10px;
	color: #969190;
}
.commend-item{
	margin-top:5px;
}
.commend-item ul{
    padding: 0 18px;	
}
.commend .commend-item li{
	position: relative;
	display: inline-block;
	padding-right: 110px;
}
.commend .commend-item ul li>div{
	position: absolute;
	background-color: #f7f7f7;
	top:0;
	right: 0;
	padding-right: 20px;
	width:90px;
	line-height: 17px;
}

























.fade{
	display: none;
	position: absolute;
	top:0px;
	left: 0px;
	width:100%; 
	height:120%;
	background-color: black; 
	z-index: 10;
	opacity:0.8;
}
.light{
	display: none;
	position: absolute;
    top: 45%;
    left: 45%;
	width:350px;
	height: 250px;
	z-index: 11;
	background-color: #fff;
}
.light .light_head{
	position: relative;
	background-color: #e5e5e5;
	height: 41px;
	line-height: 41px;
}
.light .light_head button{
	position: absolute;
	right: 0;
	top:1px;
	width: 38px;
	height: 40px;
	border: none;
	background: url("../images/0-2-1_03.png") no-repeat ;
}
.light .light_cont{
	text-align: center;
	height: 180px;
	margin:0 auto;
}
.light .light_cont>div{
	margin-top:30px;
}
.light .light_cont div button{
	border: none;
	padding: 10px 20px;
}
.yellowbt{
	background-color: #fe5417;
	color: #fff;
}


